.main-app{
    width:100%;
}
.navigation-app
{
    box-sizing:border-box;
    margin: auto;
    width:90%;
}
.router-content{

    box-sizing:border-box;
    width:80%;
    margin: auto;
    
}

.footer-app
{
    box-sizing:border-box;
    margin: auto;
    width:90%;
}
