.childMessage {
    
    background-color: black;
    color : white;
    margin: auto;
    width: 50%;
    border: 3px solid #3e8ede;
    padding: 10px;
    align-content: center;
    text-align : center;

}

.childPage{
    background-color: black;
    background-color: rgb(50,50,50);
}

table, th, td {
    border: 3px solid #3e8ede;
    border-collapse: collapse;
    background-color: black;
    color : white;
    margin: auto;
    width: 50%;
    padding: 10px;

  }