.parent {
    box-sizing:border-box;
    background-color: black;
    color : white;
    margin: auto;
    width: 100%;
    border: 3px solid #3e8ede;
    padding: 10px;
    align-content: center;
    text-align : center;

}