<div class="navigation-main">
    <a routerLink="/page5_reactive_forms">Reactive Forms</a>
    |
    <a routerLink="/page5_reactive_forms/name">Reactive Name Form</a>
    |
    <a routerLink="/page5_reactive_forms/profile">Reactive Profile Form</a>
    |
    <a routerLink="/page4" routerLinkActive="active">Observables(4)</a>
    |
    <a routerLink="/page1" routerLinkActive="active">Output(1)</a>
    |
    <a routerLink="/page2" routerLinkActive="active">Input(2)</a>
    |
    <a routerLink="/page3" routerLinkActive="active">Template Form/HTTP</a>
</div>